root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[{pom.xml,*.md}]
indent_style = space
indent_size = 4
