name: dnsjava CI

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-16.04, ubuntu-latest, windows-latest ]
        java: [ '8', '11' ]
        arch: [ 'x32', 'x64' ]
        exclude:
          - os: ubuntu-16.04
            arch: x32
          - os: ubuntu-latest
            arch: x32

    name: Java ${{ matrix.java }}/${{ matrix.arch }}/${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1

      - name: Cache Maven dependencies
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: m2

      - name: Set up JDK ${{ matrix.java }}
        uses: joschi/setup-jdk@2d2c40de6fb6af3db2a3d2bedd57eb02442521c4
        with:
          java-version: ${{ matrix.java }}
          architecture: ${{ matrix.arch }}

      - name: Build with Maven
        run: mvn verify -B -"Dgpg.skip"
